<li class="message">
  <div class="avatar">
    <p><%=@message.user.email%></p>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>
