<% publish_to @path do %>
var id = "<%= @conversation.id %>";
var chatbox = $("#chatbox_" + id + " .chatboxcontent");
var sender_id = "<%= @message.sender.id %>";
var reciever_id = $('meta[name=user-id]').attr("content");
var conversation_tab = $("#conversation-tab-"+id);
//create conversation tab
if (!conversation_tab[0]) {
  conversation_tab = $("<a class='start-conversation' id='conversation-tab-"+id+"' data-sid='"+sender_id+"' data-rid='<%=conversation_recipient_id(@conversation)%>' href='/conversations/"+id+"'></a>");
  $('.conversation-list').append(conversation_tab);
  $('.empty-result').remove();
}

//check if repeated request
var messageId = "<%= @message.id %>";
var lastMessageId = chatbox.data('last_message_id');
var uniqueMessage = messageId !== lastMessageId
if (uniqueMessage) {
  conversation_tab.html("<%= j render( partial: @message ) %>");
  chatbox.append("<%= j render( partial: @message ) %>");
  if (chatbox[0]) {
    chatbox.scrollTop(chatbox[0].scrollHeight);
  }
  if(sender_id != reciever_id){
    chatBox.chatWith(id);
    chatbox.children().last().removeClass("self").addClass("other");
    if (chatbox[0]) {
      chatbox.scrollTop(chatbox[0].scrollHeight);
    }
    chatBox.notify();
  }
  chatbox.data('last_message_id', messageId)
  $.post("/mark_message_read/"+messageId, {user_id:reciever_id});
}

<% end %>
