<%= form_for(@user, url: user_password_path(@user), html: { method: :put, class: "pad-20 info-edit",  id: 'user-info'}) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <div class="form-group">
    <%= f.label 'New Password' %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: 'btn btn-primary'%>
  </div>
<% end %>
