<%= form_for(user, remote: true, url: update_password_path, html: { method: :put,  id: 'password-change', class: 'mar-t-10'}) do |f| %>
  <%= f.hidden_field :id %>
  <%= f.label 'New Password' %>
  <div id="password_container" class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'password'%>
    <small id= "password_error" class="help-block"></small>
  </div>

  <%= f.label "Confirm new password" %>
  <div id="password_confirmation_container" class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: 'password_confirmation' %>
    <small id= "password_confirmation_error" class="help-block"></small>
  </div>

  <div class="actions">
    <%= f.submit "Change Password", class: 'btn btn-primary'%>
  </div>
<% end %>
