<%= form_for(@user, url: user_path(@user), html: { role: 'form', class: "pad-20 info-edit", autocomplete: "off",  id: 'user-info'}) do |f| %>
<%= f.label 'School' %>
<div class="form-group">
  <%= f.text_field :school, class: 'form-control editable-field', id: 'school-edit-field', value: @user.school ? @user.school.name : ''%>
  <div class="info-display" id="school-display"><%= @user.school.present? ? @user.school.name : 'unknown'%>
  </div>
  <i class="fa fa-pencil pad-l-10 edit-button" id="school-edit-handle"></i>
</div>
<%= f.label 'Specialty' %>
<div class="form-group">
  <%= f.text_field :specialty, class: 'form-control editable-field', id: 'specialty-edit-field' %>
  <div class="info-display" id="specialty-display"><%= @user.specialty.present? ? @user.specialty : 'unknown' %>
  </div>
  <i class="fa fa-pencil pad-l-10 edit-button" id="specialty-edit-handle"></i>
</div>
<%= f.label 'Gender' %>
<div class="form-group">
  <%= f.select :gender, ['Male','Female'] , { :include_blank => "Select Your Gender", :selected => @user.gender}, class: 'form-control', id: 'gender-select',required: true, data: {'error-value-missing' => "Please Select Your Gender"} %>
</div>
<% end %>
