<div class="row">
  <div class="col-sm-12 col-md-6">
    <div id="user-info" data-userid="<%=@user.id%>"></div>
    <h3>Account Info</h3>
    <%= form_for(@user, html: { method: :put, class:'pad-20 info-edit'}) do |f| %>
    <%= f.label 'Email' %>
    <div class="form-group">
      <%= f.email_field :email, class: 'form-control editable-field', id: 'email-edit-field' %>
      <div class="info-display" id="email-display"><%=@user.email%></div>
      <i class="fa fa-pencil pad-l-10 edit-button" id="email-edit-handle"></i>
    </div>
    <% end %>
    <h3>Manage Password<span id="password-status" class="status-text label label-success mar-l-10"></span></h3>
    <%= render partial: "edit_password", locals: {user: @user}%>
  </div>

  <div class="col-sm-12 col-md-6">
    <h3>Personal Info<span id="personal-info-status" class="status-text label label-success mar-l-10"></span></h3>
    <%= render partial: "personal_info_form" %>
    <h3>Adrress<span id="address-status" class="status-text label label-success mar-l-10"></span></h3>
    <%= render partial: "address_form", locals: {address: @address, user_id: @user.id} %>
  </div>
</div>
