<div class="row">
  <div class="col-sm-12 col-md-6">
    <div id="user-info" data-userid="<%=@user.id%>"></div>
    <h1>Account Info</h1>
    <%= form_for(@user, html: { method: :put, class:'pad-20 info-edit'}) do |f| %>
    <%= f.label 'Email' %>
    <div class="form-group">
      <%= f.email_field :email, class: 'form-control editable-field', id: 'email-edit-field' %>
      <div class="info-display" id="email-display"><%=@user.email%></div>
      <i class="fa fa-pencil pad-l-10 edit-button" id="email-edit-handle"></i>
    </div>
    <%= f.label 'Current Password' %>
    <div class="form-group">
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
    <%= f.label 'New Password' %>
    <div class="form-group">

      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
    <%= f.label 'Confirm New Password' %>
    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>

  <div class="col-sm-12 col-md-6">
    <h1>Personal Info</h1>
    <%= form_for(@user, url: user_path(@user), html: { role: 'form', class: "pad-20 info-edit", autocomplete: "off",  id: 'user-info'}) do |f| %>
    <%= f.label 'School' %>
    <div class="form-group">
      <%= f.text_field :school, class: 'form-control editable-field', id: 'school-edit-field', value: @user.school ? @user.school.name : ''%>
      <div class="info-display" id="school-display"><%= @user.school ? @user.school.name : 'unknown'%>
      </div>
      <i class="fa fa-pencil pad-l-10 edit-button" id="school-edit-handle"></i>
    </div>
    <%= f.label 'Specialty' %>
    <div class="form-group">
      <%= f.text_field :specialty, class: 'form-control editable-field', id: 'specialty-edit-field' %>
      <div class="info-display" id="specialty-display"><%=@user.specialty ? @user.specialty : 'unknown' %>
      </div>
      <i class="fa fa-pencil pad-l-10 edit-button" id="specialty-edit-handle"></i>
    </div>
    <%= f.label 'Gender' %>
    <div class="form-group">
      <%= f.select :gender, ['Male','Female'] , { :include_blank => "Select Your Gender", :selected => @user.gender}, class: 'form-control', id: 'gender-select',required: true, data: {'error-value-missing' => "Please Select Your Gender"} %>
    </div>
    <% end %>
    <%= render partial: "address", locals: {address: @address, user_id: @user.id} %>
  </div>
</div>
