<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h1>Please Enter Additional Info About You</h1>
    <%= form_for(@user, as: 'user', url: finish_signup_path(@user), html: { role: 'form', class: "pad-20", autocomplete: "off",  id: 'user-info'}) do |f| %>
    <div class="form-group">
      <%= f.text_field :school, :value => '', class: 'form-control', placeholder: 'School', required: true, data: {'error-value-missing' => "Please Enter Your School"}  %>
    </div>
    <div class="form-group">
      <%= f.text_field :specialty, :value => '', class: 'form-control', placeholder: 'Specialty', required: true, data: {'error-value-missing' => "Please Enter Your Specialty"} %>
    </div>
    <div class="form-group">
      <%= f.select :gender, ['Male','Female'] , { :include_blank => "Select Your Gender", :selected => "Select Your Gender"}, class: 'form-control', required: true, data: {'error-value-missing' => "Please Select Your Gender"} %>
    </div>
    <label class="mar-b-15"><h4>Address</h4></label>
    <div class="form-group">
      <%= f.text_field :address_street_and_house_number, :value => '', class: 'form-control', placeholder: 'Street and House Number', required: true, data: {'error-value-missing' => "Please Enter Your Street and House Number"} %>
    </div>
    <div class="form-group">
      <%= f.text_field :address_apartment_number, :value => '', class: 'form-control', placeholder: 'Apartment Number' %>
    </div>
    <div class="form-group">
      <label class="checkbox-inline"><input type="checkbox" value="true" name="user[address_on_campus]">On Campus</label>
    </div>
    <div class="form-group">
      <%= f.text_field :address_city, :value => '', class: 'form-control mar-r-15 mar-b-15', placeholder: 'City', required: true, data: {'error-value-missing' => "Please Enter Your City"} %>
      <%= select_tag "user[address_state]", options_for_select(us_states), { class: 'form-control mar-r-15 mar-b-15', required: true, data: {'error-value-missing' => "Please Enter Your State"}} %>
      <%= f.text_field :address_zip, :value => '', class: 'form-control mar-b-15', placeholder: 'Zip Code', required: true, pattern: '^\d{5}(?:[-\s]\d{4})?$', data: {'error-value-missing' => "Please Enter Your Zip Code", 'error-pattern-mismatch' => "Zip Code Format Invalid"} %>
    </div>
    <div class="actions">
      <%= f.submit 'Continue', :class => 'btn btn-primary' %>
    </div>
    <div class="actions mar-t-10">
      <%= link_to 'skip for now', interviews_dash_board_path %>
    </div>
    <% end %>
  </div>
</div>
