<%@public = true%><input type="hidden" id="public-page" />
<div class="bg-container">
  <div class="slide mobile-landing-page mar-x-30">
    <div class="text-center">
      <h1 class="mar-b-40">HippoPath<i class="fa fa-stethoscope"></i></h1>
      <h2 class="mar-y-15"><span class="count"><%= @student_count %></span> Students <i class="fa fa-user-md"></i></h2>
      <!-- <%=@student_count%> -->
      <h2 class="mar-y-15"><span class="count"><%= @school_count %></span> Schools <i class="fa fa-book"></i></h2>
      <!-- <%=@school_count%> -->
      <h2 class="mar-y-15"><span class="count"><%= @hospital_count %></span> Hospitals <i class="fa fa-hospital-o"></i></h2>
      <!-- <%=@hospital_count%> -->
      <h2 class="mar-y-15">Tons of carpools arranged <i class="fa fa-car"></i></h2>
      <p class="mar-t-30">Click <a href="/users/sign_in">here</a> to login, or click <a href="/users/sign_up">here</a> to sign up.</p>
    </div>
  </div>
  <div id="impress">
  <div class="slide step" data-x="0" data-y="0">
    <div class="text-center">
      <h1 class="mar-b-40">HippoPath<i class="fa fa-stethoscope"></i></h1>
      <h2 class="mar-y-15"><span class="count"><%=@student_count%></span> Students <i class="fa fa-user-md"></i></h2>

      <h2 class="mar-y-15"><span class="count"><%=@school_count%></span> Schools <i class="fa fa-book"></i></h2>

      <h2 class="mar-y-15"><span class="count"><%=@hospital_count%></span> Hospitals <i class="fa fa-hospital-o"></i></h2>

      <h2 class="mar-y-15">Tons of carpools arranged <i class="fa fa-car"></i></h2>
      
      <p class="mar-t-30">Click <a href="/users/sign_up">here</a> to sign up.</p>
    </div>
  </div>

  <div class="slide step" data-x="0" data-y="-600" data-z="-800" data-rotate="-90">
    <div class="slide-content">
      <h1>Slide 1</h1>
      <div class="place-holder">place holder</div>
      </div>
      <a href="#step-3"><i class="fa fa-angle-right fa-2x"></i></a>
    </div>

    <div class="slide step" data-x="0" data-y="-900" data-z="-1600" data-rotate="-90">
      <div class="slide-content">
        <h1>Slide 2</h1>
        <div class="place-holder">place holder</div>
        </div>
        <a href="#step-4"><i class="fa fa-angle-right fa-2x"></i></a>
      </div>

      <div class="slide step" data-x="0" data-y="-1200" data-z="-2400" data-rotate="-90">
        <div class="slide-content">
          <h1>Slide 3</h1>
          <div class="place-holder">place holder</div>
          </div>
          <a href="#step-1"><i class="fa fa-angle-right fa-2x"></i></a>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  if ($(window).width()>768) {
    function preparePage(callback){
      impress().init();
      callback();
    }
    preparePage(function(){
      $('#impress').fadeIn(800);
      var countStarted;
      if  (!countStarted) {
        countStarted = true;
        $('.count').each(function () {
          $(this).prop('Counter',0).animate({
            Counter: $(this).text()
          }, {
            duration: 1500,
            easing: 'swing',
            step: function (now) {
              $(this).text(Math.ceil(now));
            }
          });
        });
      }
    });
  } else {
    $('.mobile-landing-page')
      .css('opacity',1)
      .show();
  }
});
</script>
